*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

#title{
    background-image: url(../images/firewood1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-color: #070607;
    color:#fff;      
   }

.container-fluid{
    /* height: 100%; */
    padding: 7% 8% 7%;
}

.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif ;
}

.logo{
    height: 50px;
}

.heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
    /* text-shadow: white 30px -50px 10px ; */
  
}

.big-heading{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 3em;
    margin: 10% 10%;    
    background: rgba(46, 46, 46, 0.3) ;
    /* height: 150px; */
    border-radius: 2em;
    backdrop-filter: blur(30px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(184, 133, 125, 0.03);
    
}

.sub-heading{
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5;
}

@media (max-width: 991px){
    .heading{
        font-size: 2.4rem;
        font-weight: 900;
    }
    
}
@media (max-width: 767px){
    .heading{
        font-size: 1.9rem;
        font-weight: 800;
    }
    .sub-heading{
        font-size: 1rem;
    }
    .brand-name{
        font-size: 1.5rem;
    }
    .logo{
        height: 30px;
    }
}
@media (max-width: 500px){
    .heading{
        font-size: 1.13rem;
        font-weight: 800;
    }
    .sub-heading{
        font-size: 0.6rem;
    }
    .brand-name{
        font-size: 1.3rem;
    }
    .logo{
        height: 26px;
    }
}

#features{
    background-color: rgb(230, 230, 230);
}

.feature-icon{     
    padding: 7% 3%;
    text-align: center;
}

.wood-log{
    background-image: url(../images/wooden-logs-in-forest.jpg);
    min-height: 500px;
}

.why-us-heading{
    margin: 0 0 0 20%;
    padding: 3em;
    color: white;
    background: rgba(46, 46, 46, 0.3) ;    
    /* border-radius: 1em; */
    backdrop-filter: blur(30px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(184, 133, 125, 0.03);
}

.fourP{
    padding: 40px;
}
p{
    text-align: justify;
}

#products {
    background-color: rgb(230, 230, 230);
}

.product-intro{
    background-color: rgb(0, 0, 0) ;
    color: #fff;
    padding: 80px 100px;
}

.products-heading{
    background-color: orange;
    padding-left: 100px;
    transform: translate(-100px, 0px);
}

.product-features{
    padding: 80px 100px;
}

li{
    margin-bottom: 8px;
}

#save{
    background-color: #fff;
}

.save-block{
    align-items: center;    
    text-align: center;        
    border-right: solid;
}

.save-block3{
    text-align: center;     
}

.image{
    height: 150px;
}

#contact {
    background-image: url(../images/pexels-jutta-albers-small.jpg);
    min-height: inherit;
    background-repeat: no-repeat;
}

.contact-us{
    margin: 20% 0 0 0;
    padding: 3em;
    color: white;
    background: rgba(46, 46, 46, 0.3) ;    
    /* border-radius: 1em; */
    border-radius: 2em;
    backdrop-filter: blur(30px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(184, 133, 125, 0.03);
}

.logo1{
    height: 100px;
    margin-left: 100px;
}